.button-temporada{
    background-color: #ffcc00;
    border: none;
    color: #000;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 2px 3px 0 #000;
}

.seasons-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.button-temporada:active {
    transition: transform 0.3s ease;
    background-color: #e6b800;
    transform: translateY(-3px);
}