@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #92D4F7;
}

.simpsons-font {
  font-family: 'Fredoka One', cursive;
}
